@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import url("./pyro.css");

:root {
    --rich-black-fogra-29: #121619ff;
    --gun-metal: #30343F;
    --cultured: #fafafaff;
    --popstar: #B6465F;
    --sea-green: #09814a;
    --indian-yellow: #db9d47ff;
    --neon-blue: #4d6cfa;
    --viridian: #5b8266;
    --languid-lavender: #d5c6e0;
    --persian-green: #1b998b;
    --vivid-sky-blue: #0acdff;

}

.hidden {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cultured);
    color: var(--rich-black-fogra-29);
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    z-index: 9999;
    background-color: var(--gun-metal);
    font-family: 'Space Grotesk', sans-serif;
}

nav span {
    margin: 2vh;
    line-height: 2vh;
    font-size: 2vh;
    color: var(--cultured);
}

nav i {
    font-style: normal;
}

nav span .box {
    border-radius: 4px;
    padding: 0.5vh;
    background-color: var(--popstar);
    font-weight: 600;
    color: var(--cultured);
}

nav span a {
    text-decoration: none;
    color: var(--cultured);
    font-weight: 600;
}

nav span a:hover {
    cursor: pointer;
    opacity: 0.75;
}

nav span:last-child {
    margin-right: 10vh;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
}

content>h1 {
    text-align: center;
    font-size: 2.25em;
    font-weight: 700;
    color: var(--gun-metal);
}

content>h1 .title-highlight {
    display: inline-block;
    background-color: var(--popstar);
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: var(--cultured)
}

content>h2 {
    margin-top: 0;
    margin-bottom: 4vh;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--gun-metal);
}

ul.tasks {
    columns: 3 28vw;
    column-gap: 1vw;
    margin: 0 0 10vh 0;
    padding: 0;
    width: 90vw;
    list-style: none;
    color: var(--gun-metal);
}

ul.tasks>li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    background-color: var(--gun-metal);
}

ul.tasks>li.description {
    background-color: var(--cultured);
    border-radius: none;
    box-shadow: none;
    padding: 2vh;
    text-align: justify;
}

ul.tasks>li.description b {
    display: block;
    text-align: center;
    font-size: 1.25em;
    color: var(--gun-metal);
}

ul.tasks>li.description * {
    display: contents;
}


ul.tasks>li.closed {
    filter: opacity(0.5)
}

ul.tasks>li .category {
    padding: 0.25vh;
    background-color: var(--indian-yellow);
    font-weight: 500;
    line-height: 2em;
    text-align: center;
    text-transform: capitalize;
    color: var(--cultured);
}

ul.tasks>li[data-category="grundlagen"] .category {
    background-color: var(--indian-yellow);
}

ul.tasks>li[data-category="grundlagen"] .topics li {
    background-color: var(--indian-yellow);
}

ul.tasks>li.description[data-category="grundlagen"] b {
    color: var(--indian-yellow);
}

ul.tasks>li[data-category="events"] .category {
    background-color: var(--neon-blue);
}

ul.tasks>li[data-category="events"] .topics li {
    background-color: var(--neon-blue);
}

ul.tasks>li.description[data-category="events"] b {
    color: var(--neon-blue);
}

ul.tasks>li[data-category="oop"] .category {
    background-color: var(--viridian);
}

ul.tasks>li[data-category="oop"] .topics li {
    background-color: var(--neon-blue);
}

ul.tasks>li.description[data-category="oop"] b {
    color: var(--viridian);
}

ul.tasks>li[data-category="arrays"] .category {
    background-color: var(--persian-green);
}

ul.tasks>li[data-category="arrays"] .topics li {
    background-color: var(--persian-green);
}

ul.tasks>li.description[data-category="arrays"] b {
    color: var(--persian-green);
}

ul.tasks>li[data-category="strings"] .category {
    background-color: var(--vivid-sky-blue);
}

ul.tasks>li[data-category="strings"] .topics li {
    background-color: var(--vivid-sky-blue);
}

ul.tasks>li.description[data-category="strings"] b {
    color: var(--vivid-sky-blue);
}



ul.tasks>li .category .text {
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    width: 80%;
}

ul.tasks>li .category i {
    display: inline-block;
    width: 10%;
    font-size: 1.25em;
    line-height: 1.25em;
}

ul.tasks>li .category i:hover {
    cursor: pointer;
    color: var(--gun-metal);
}

ul.tasks>li .category i:before {
    content: '\e805';
}

ul.tasks>li.closed .category i:before {
    content: '\e804';
}

ul.tasks>li .title {
    padding: 0.25vh;
    font-weight: 700;
    text-align: center;
    font-size: 1.25em;
    color: var(--cultured);
    background-color: var(--gun-metal);
}

ul.tasks>li .estimate {
    margin: 0 auto;
    color: var(--cultured);
}

ul.tasks>li .description {
    padding: 0.5vh 3vh;
    font-weight: 300;
    text-align: justify;
    font-size: 1em;
    color: var(--cultured);
    background-color: var(--gun-metal);

}

ul.tasks>li .hints {
    background-color: var(--gun-metal);
}

ul.tasks li .hints .text h1,
h2,
h3,
h4 {
    padding: 0 3vh;
    text-align: center;
    color: var(--cultured);
}

ul.tasks li .hints .text img {
    display: block;
    margin: 0 auto;
    width: 20vw;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    filter: grayscale();
}

ul.tasks li .hints .text iframe {
    display: block;
    margin: 0 auto;
    width: 28vw !important;
}

ul.tasks li .hints .text ul {
    list-style: disc;
    color: var(--cultured);
}

ul.tasks li .hints .text a {
    color: var(--cultured);
}

ul.tasks li .hints .text p {
    padding: 0 3vh;
    font-weight: 300;
    text-align: justify;
    font-size: 1em;
    color: var(--cultured);
}

ul.tasks li .hints .menu {
    display: flex;
    justify-content: flex-end;
    height: 2em;
    margin: 0 0.5em;
    line-height: 2em;
    font-size: 1.25em;
    color: var(--cultured);
}

ul.tasks li .hints .menu i:hover {
    cursor: pointer;
    opacity: 0.75;
}

ul.tasks li .hints.closed {
    height: 2em;
    overflow: hidden;
}

ul.tasks li .hints.closed .menu i:before {
    content: '\f13a';
}

ul.tasks li .hints .menu i:before {
    content: '\f139';
}

ul.tasks li .topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 1vh;
    list-style: none;
    background-color: var(--gun-metal);
}


ul.tasks li .topics li {
    flex-basis: content;
    flex-shrink: 0;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    border-radius: 4px;
    background-color: var(--gun-metal);
    font-size: 0.75em;
    color: var(--cultured);
}

ul.tasks li .topics li:hover {
    cursor: pointer;
    opacity: 0.75;
}

ul.tasks li .actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.25vh;
    background-color: var(--gun-metal);
    color: var(--cultured);
}

ul.tasks li .actions span {
    padding: 1vh;
    font-size: 1.25em;
}

ul.tasks li .actions span[data-action="solution"] i {
    color: var(--gun-metal);
}

ul.tasks li.closed .actions span[data-action="solution"] i {
    color: var(--cultured);
}

ul.tasks li.closed .actions span[data-action="solution"] i:hover {
    opacity: 0.75;
}

ul.tasks li .actions a {
    color: var(--cultured);
}

ul.tasks li .actions a:hover {
    opacity: 0.75;
}